body {
    background-color: #E5E5E5;
}

.border1 {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    width: 350px;
    margin: 50px auto 0;
}

.border2 {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    width: 350px;
    margin: 10px auto 0 auto;
    margin-top: 15px;
}

.border3 {
    border: 1px solid white;
    position: absolute;
    top: 10px;
    right: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    width: 350px;
    margin: 40px auto 0;
}

.border4 {
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    width: 350px;
    margin: 40px auto 0;
}

.namn1, .yrke, .cvtext {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;           
    line-height: 1.7;           
    letter-spacing: -0.16px;    
}

.namn1 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.yrke {
    margin-top: 0px;
    font-size: 14px;
}

.cvtext {
    margin: 0;
    margin-left: 7px;
    font-size: 12px;
    vertical-align: middle;

}

.cvborder, .kontaktaborder, .yrke {
    color: #374151;
}

.cvborder, .kontaktaborder {
    border: 1px #E5E5E5 solid;
    border-radius: 15px;
    padding: 3px;
    background-color: white;
    width: 320px;
    margin: 0px auto 0 auto;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

h2 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 100;           
    line-height: 1.7;           
    letter-spacing: -0.16px;    
    margin-bottom: 5px;
    margin-top: 0px;
    color: #374151;
    
    display: inline-block;
    border: 3px solid #F2F2F2;
    border-radius: 5px;
    padding: 3px;
    background-color: #F2F2F2;
}

.ommig {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 100;           
    line-height: 1.7;           
    letter-spacing: -0.16px;    
    margin-top: 5px;
    color: #374151;
}

.utbildning1, .utbildning2, .jobb1, .jobb2, .jobb3 {
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.skola1, .yrke1{
    margin-bottom: 0px;
    font-size: 17px;
}

.beskrivning {
    display: none;
}

.jobb1.open {
    border-color: #F2F2F2;
}

.jobb1.open .beskrivning {
    display: block;
}

h3 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;           
    line-height: 1.7;           
    letter-spacing: -0.16px;    
    margin-top: 5px;
    color: #374151;
}

h4 {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-weight: 100;           
    line-height: 1.7;           
    letter-spacing: -0.16px;    
    margin-top: 1px;
    margin-bottom: 3px;
    color: #374151;
}

.datum {
    display: flex;
    align-items: center;
    gap: 10px;
}

.datum1{
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 100;           
    line-height: 2;           
    letter-spacing: -0.16px;    
    margin-top: 5px;
    color: #374151;
    margin: 0;
}

.pil {
    display: block;
    width: fit-content;
    margin-top: 17px;
    font-size: 25px;
}

.bild1 {
    width: 300px;
    height: auto;
}